body {
  margin: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.wrapper1 {
  display: block;
  margin-bottom: 75px;
}
/* FIRST DIV */
.box {
  background: #3cf;
  border-radius: 5px;
  width: 100px;
  height: 75px; 
  /* with transition both property i cn change the transition */
  /* I have not to be in the hover if you want setting return back */
  transition-property: background;
  transition-duration: 1s;
  /* short */
  /* transition:all 1s*/
}

.box:hover{
  background-color: blue;
  height: 100px;
}

