.box{
    background: red;
    width: 122px;
    height: 122px;
    margin: 100px;
    border-radius:5% 50% 50% 50%  ;
    transition: all 2s;
}

.box:hover{
    transform: rotate(1000deg);
    background-color: aqua;
}

.bo2:hover{
    transform: rotate(1turn);
    background-color: rgb(28, 99, 99);
}