.box {
  width: 122px;
  height: 122px;
  background-color: aquamarine;
  margin: 100px;
  border-radius: 12px;
}

.box1:hover {
    transform: skewX(30deg);
}


.box2:hover {
    transform: skewY(30deg);
    
}
.box3:hover {
    transform: skewX(-30deg);
    
}

.box4:hover {
    transform: skewY(-30deg);
    
}


