.drop{
    background: #000;
    width: 100px;
    height: 100px;
    margin: 100px;
    border-radius: 50% 5% 50% 50%;
    transition: all 2s;
    transition-timing-function: asse-in-out;
}

.drop:hover{
    background: #9e1d1d;
}